<h1>Your Links</h1>

<div id="errors">

</div>

<div class="add-link">
  <%= form_for @link, url: api_v1_links_path, :html => {:id => "new-link"} do |f| %>
    <%= f.url_field :url %>
    <%= f.label :url, 'URL' %>

    <%= f.text_area :title %>
    <%= f.label :title %>

    <%= f.submit "Submit" %>
  <% end %>
</div>

<div class="links">
  <p><% @links.each do |link| %></p>
  <%= render partial: 'link', locals: {link: link} %>
  <% end %>
</div>

<div class="signout">
  <%= link_to "Sign Out", logout_path, method: 'delete' %>
</div>
