<h1>Your Links</h1>

<div class="add-link">
  <%= form_for @link do |f| %>
    <%= f.url_field :url %>
    <%= f.label :url, 'URL' %>

    <%= f.text_area :title %>
    <%= f.label :title %>

    <%= f.submit "Submit" %>
  <% end %>
</div>

<div class="links">
  <p><% @links.each do |link| %></p>
    <p>URL: <%= link.url %></p>
    <p>Title: <%= link.title %></p>
    <p>Read?: <%= link.read %></p>
    <%= link_to "Edit", edit_link_path(link) %>
  <% end %>
</div>

<div class="signout">
  <%= link_to "Sign Out", logout_path, method: 'delete' %>
</div>
